<div class="quick-checkin-beer-info clearfix">
    <div class="quick-checkin-label"><img src="{{ beer.label }}"/></div>
    <div class="quick-checkin-info"><strong>{{ beer.untappdLink|raw }}</strong></div>
    <div class="quick-checkin-info">{{ beer.brewery.name }}</div>
    <div class="quick-checkin-info">Session : {{ session.getName }}</div>
</div>
<div class="clearfix admin-actions" id="admin-form" data-beer-id="{{ beer.id }}" data-session-id="{{ session.id }}">
	<button type="button" id="flag-out-of-stock">Set out of stock</button>
	<button type="button" id="remove-from-taplist">Remove</button>
</div>