<div class="quick-checkin-beer-info clearfix">
    <div class="quick-checkin-label"><img src="{{ response.beer.beer_label }}"/></div>
    <div class="quick-checkin-info"><strong>{{ beer.untappdLink|raw }}</strong></div>
    <div class="quick-checkin-info">{{ response.brewery.brewery_name }}</div>
</div>
<form class="clearfix" id="quick-checkin-form">
	<a class="open-checkin btn btn-warning pull-right" data-checkin="{{ response.checkin_id }}" target="_blank" href="https://www.untappd.com/user/{{ response.user.user_name }}/checkin/{{ response.checkin_id }}">View on Untappd</a>
	<div class="text-success"><strong>Your check-in has been created!</strong></div>
	{% if response.badges.count > 0 %}
    	<div class="badges-unlocked-list">You have unlocked {{ response.badges.count }} badge{% if response.badges.count != 1 %}s{% endif %}.
        	{% for badge in response.badges.items %}
        		<div class="unlocked-badge clearfix">
        			<img src="{{ badge.badge_image.sm }}"> 
        			<div><strong>{{ badge.badge_name }}</strong></div>
        			<div class="badge-description">{{ badge.badge_description }}</div>
        		</div> 
        	{% endfor %}
        </div>
    {% endif %}
</form>