{% extends 'base.html.twig' %}

{% block title %}Add Message To {{ event.name }}{% endblock %}

{% block navbar %}
{% endblock %}
        
{% block body %}
{% if event.style %}
    <style>
    	#live-venue-title {
            {% if event.style.headerBackgroundColor %}background-color: {{ event.style.headerBackgroundColor }};{% endif %}
            {% if event.style.headerTextColor %}color: {{ event.style.headerTextColor }};{% endif %}
        }
        {% if event.style.linkColor %}a { color: {{ event.style.linkColor }};}{% endif %}
        {% if event.style.majorInfoColor %}.info-major { color: {{ event.style.majorInfoColor }}; border-color: {{ event.style.majorInfoColor }};}{% endif %}	
    </style>
{% endif %}

<div class="main-wrapper">
    <div id="post-message" class="container">
        <div id="live-venue-title">
        	{% if event.style and event.style.untappdLogoStyle %}
        		{% set untappdLogo = 'untappd_' ~ event.style.untappdLogoStyle %}
        	{% else %}
        		{% set untappdLogo = 'untappd_black' %}
        	{% endif %}
            <div class="description">
            	{% if event.eventLogo %}
            		<img src="{{ asset("images/events/") ~ event.eventLogo }}" />
            	{% else %}
    				{{ event.name }}
            	{% endif %}
            </div>
        </div>
        
        <span class="page-title info-major">{{ 'event.post.title'|trans }}</span>
    	{% if closed %}
        	{% if "now"|date('Y-m-d H:i:s') < event.startDate|date('Y-m-d H:i:s') %}
        		<div id="event-upcoming">
                	<div class="alert alert-primary" role="alert">
                		<div class="large-icon">
                			<i class="fa fa-clock-o" aria-hidden="true"></i>
                		</div>
            			<b>{{ "general.too_early"|trans }} 😉</b></br>
        	            {% trans with { '%event%': event.name } %}general.not_started_yet{% endtrans %}<br />
            		    {{ "general.cant_send_notifications_yet"|trans }}
               		 </div>
        		</div>
      		{% elseif "now"|date('Y-m-d H:i:s') > event.endDate|date('Y-m-d H:i:s') %}
        		<div id="event-upcoming">
                	<div class="alert alert-primary" role="alert">
                		<div class="large-icon">
                			<i class="fa fa-clock-o" aria-hidden="true"></i>
                		</div>
            			<b>{{ "general.too_late"|trans }} 😉</b></br>
        	            {% trans with { '%event%': event.name } %}general.is_over{% endtrans %}<br />
            		    {{ "general.cant_send_notifications_anymore"|trans }}
               		 </div>
        		</div>
      		{% endif %}
    	{% else %}
            <div class="card">
                <div class="card-body">
                	<p><strong>{{ "event.post.please_auth"|trans }}</strong></p>
                	{% if error %}
                		<div class="alert alert-danger alert-dismissible" role="alert">
                        	{{ "event.form.unknown_access_key"|trans }}
                        	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                	{% endif %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}
    </div>
    
</div>

<script>
	var minTime = "{{ "now"|date('H:i') }}"
</script>

{% endblock %}
