{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} Live Information{% endblock %}

{% block navbar %}
{% endblock %}
        
{% block body %}
{% if event.style %}
    <style>
    	#live-venue-title {
            {% if event.style.headerBackgroundColor %}background-color: {{ event.style.headerBackgroundColor }};{% endif %}
            {% if event.style.headerTextColor %}color: {{ event.style.headerTextColor }};{% endif %}
        }
        {% if event.style.linkColor %}a { color: {{ event.style.linkColor }};}{% endif %}
        {% if event.style.majorInfoColor %}.info-major { color: {{ event.style.majorInfoColor }}; border-color: {{ event.style.majorInfoColor }};}{% endif %}	
        .subscribe-button { background-color: {{ event.style.majorInfoColor }}; color: white; }
    </style>
{% endif %}


<div class="main-wrapper">
    <div id="event-info" class="container" data-event-id="{{ event.id }}">
        <div id="live-venue-title">
        	{% if event.style and event.style.untappdLogoStyle %}
        		{% set untappdLogo = 'untappd_' ~ event.style.untappdLogoStyle %}
        	{% else %}
        		{% set untappdLogo = 'untappd_black' %}
        	{% endif %}
            <div class="description">
            	{% if event.eventLogo %}
            		<img src="{{ asset("images/events/") ~ event.eventLogo }}" />
            	{% else %}
    				{{ event.name }}
            	{% endif %}
            </div>
        </div>
        
  		{% if "now"|date('Y-m-d H:i:s') > event.endDate|date('Y-m-d H:i:s') %}
        	<button type="button" class="subscribe-button btn" disabled>{{ "event.page.over"|trans }}</button>
  		{% else %}
        	<button type="button" id="subscribe" class="subscribe-button btn" disabled>{{ "event.page.push_incompatible"|trans }}</button>
        {% endif %}
    	
   		<span class="page-title info-major">{{ "event.page.statistics"|trans }}</span>
   		
  		{% if "now"|date('Y-m-d H:i:s') < event.startDate|date('Y-m-d H:i:s') %}
    		<div id="event-upcoming">
            	<div class="alert alert-primary" role="alert">
            		<div class="large-icon">
            			<i class="fa fa-clock-o" aria-hidden="true"></i>
            		</div>
        			<b>{{ "general.too_early"|trans }} 😉</b></br>
                    {% trans with { '%event%': event.name } %}general.not_started_yet{% endtrans %} {{ "event.page.early_subscribe"|trans }}</br>
        			{% trans with { '%time%': '<span id="time-left-event" data-date="' ~ event.startDate|date("D, d M Y H:i:s O") ~ '"></span>' } %}event.page.will_start_in{% endtrans %}
           		 </div>
    		</div>
  		{% else %}
       		{% if stats|length > 0 %}
    		<div id="stats-carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
    			<div class="carousel-inner row w-100 mx-auto">
    			{% set i = 0 %}
                {% for key, stat in stats %}
        			<div class="carousel-item col-md-4 {% if i == 0 %}active{% endif %}">
                		<div class="card" data-stat="{{ key }}">
                			<span class="page-title stat-title info-major">{{ stat.label|trans }}</span>
                            {% include 'event/templates/' ~ stat.template ~ '.html.twig' with { 'data': stat.content } %}
                		</div>
                	</div>
                	{% set i = i + 1 %}
        		{% endfor %}
                </div>
                <a class="carousel-control-prev" href="#stats-carousel" role="button" data-slide="prev">
    				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    				<span class="sr-only">Previous</span>
                </a>
    			<a class="carousel-control-next" href="#stats-carousel" role="button" data-slide="next">
    				<span class="carousel-control-next-icon" aria-hidden="true"></span>
    				<span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}
            
      		{% if stats|length == 0 %}
        		<div id="missing-stats">
                	<div class="alert alert-primary" role="alert">
                		<div class="large-icon">
                			<i class="fa fa-cog fa-spin"></i>
                		</div>
            			<b>{{ "event.page.building_stats"|trans }}</b></br>
            			{{ "event.page.stats_will_appear"|trans }}</br>
            			{{ "event.page.come_back_later"|trans }}
               		 </div>
        		</div>
    		{% endif %}
    	{% endif %}
		
   		<div id="latest-notifications" {% if messages|length == 0 %}style="display:none;"{% endif %}>
			<hr class="my-3">
   			<span class="page-title info-major">{{ 'event.page.latest_notifications'|trans }}</span>
   			<div id="latest-notifications-block">
   			{% for message in messages %}
	            {% include 'event/templates/notification.template.html.twig' with { 'message': message } %}
   			{% endfor %}
   			</div>
   		</div>
    </div>
</div>
<script>
var locale = "{{ event.locale }}";
var websocket = "{{ websocket }}";
</script>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script>var translation = { subscribe: '{{ "event.js.subscribe"|trans }}', unsubscribe: '{{ "event.js.unsubscribe"|trans }}', blocked: '{{ "event.js.blocked"|trans }}', not_supported: '{{ "event.js.not_supported"|trans }}' }</script>
	<script src="{{ asset('js/push.js') }}"></script>
	
	{% if "now"|date('Y-m-d H:i:s') < event.startDate|date('Y-m-d H:i:s') %}
		{% set seconds = event.startDate|date('U') - "now"|date('U') %}
		<script>
			setTimeout(function(){ location.reload() }, {{ (seconds + 1) * 1000 }});
			setInterval(function(){ $('#time-left-event').html(moment($('#time-left-event').data('date')).fromNow()); }, 1000)
		</script>
		
	{% endif %}
{% endblock %}
