{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} Taplist{% endblock %}
        
{% block head %}
    {% if event.eventLogoNotification %}
    	<meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ asset("images/events/notification/") ~ event.eventLogoNotification }}">
    {% endif %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
{% if event.style %}
    <style>
    	#live-venue-title {
            {% if event.style.headerBackgroundColor %}background-color: {{ event.style.headerBackgroundColor }};{% endif %}
            {% if event.style.headerTextColor %}color: {{ event.style.headerTextColor }};{% endif %}
        }
        {% if event.style.headerTextColor %}.page-switcher { color: {{ event.style.headerTextColor }}; }{% endif %}
        {% if event.style.linkColor %}a { color: {{ event.style.linkColor }};}{% endif %}
        {% if event.style.majorInfoColor %}.info-major { color: {{ event.style.majorInfoColor }}; border-color: {{ event.style.majorInfoColor }};}{% endif %}	
        .subscribe-button { background-color: {{ event.style.majorInfoColor }}; color: white; }
        {% if is_granted('ROLE_ADMIN') %}
        	.admin { display: inline-block !important; }
        {% endif %}
    </style>
{% endif %}

<div class="taplist-loading"></div>

<div class="main-wrapper">
    <div id="event-taplist" class="container" data-event-id="{{ event.id }}">
    	<a href="{{ path('event', {'eventID': event.id}) }}" class="page-switcher pull-right"><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
        <div id="live-venue-title">
        	{% if event.style and event.style.untappdLogoStyle %}
        		{% set untappdLogo = 'untappd_' ~ event.style.untappdLogoStyle %}
        	{% else %}
        		{% set untappdLogo = 'untappd_black' %}
        	{% endif %}
            <div class="description">
            	{% if event.eventLogo %}
            		<img src="{{ asset("images/events/") ~ event.eventLogo }}" />
            	{% else %}
    				{{ event.name }}
            	{% endif %}
            </div>
        </div>
        
        {% set highestABV = 0 %}
        
        <div id="taplist-no-content">
            <div class="alert alert-warning" role="alert">
              <strong>There's nothing to display! 😞</strong>
              <br>It looks like everything is filtered. Please modify your parameters to get results.
            </div>
        </div>
        
        <div id="taplist-content">
            {% for session in event.sessions %}
                {% for beer in session.beers  %}
    	            {% include 'taplist/templates/beer.template.html.twig' with { 'beer': beer, 'session': session  } %}
    	            {% if beer.abv > highestABV %}
    	            	{% set highestABV = beer.abv %}
    	            {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    
    <div class="modal fade" id="filters-modal" tabindex="-1" role="dialog" aria-labelledby="filters-modal" aria-hidden="true">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content transparent-modal">
    			<div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <form>
                        <div class="form-group filter-group">
                            <label class="filters-title" for="search-beer"><i class="fa fa-search" aria-hidden="true"></i> Search</label> <div id="clear-search"><i class="fa fa-ban" aria-hidden="true"></i> Clear</div>
                            <input type="text" class="form-control form-control-sm" id="search-beer" placeholder="Search for styles, beers, breweries...">
                        </div>
                        {% if event.sessions|length <= 1 %}<div style="display:none">{% endif %}
            			<hr class="my-1">
                        <div class="form-group filter-group">
                            <div class="filters-title"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sessions</div>
                            <div class="center-checkboxes">
                                {% for session in event.sessions %}
                                    <div class="form-check form-check-inline">
                                    	<input class="form-check-input session-filter" type="checkbox" id="chk-session-{{ session.name }}" data-session="{{ session.name }}" data-session-start="{{ session.startDate|date('U') }}" data-session-end="{{ session.endDate|date('U') }}" checked>
                                    	<label class="form-check-label" for="chk-session-{{ session.name }}" style="color:{{ session.color }}">{{ session.name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if event.sessions|length <= 1 %}</div>{% endif %}
            			<hr class="my-1">
                        <div class="filters-title"><i class="fa fa-sort" aria-hidden="true"></i> Sort</div>
                        <div class="form-group filter-group-table">
                        	<select id="taplist-sort-select" class="form-control form-control-sm filters-sort-select">
                            	<option value="1" data-key="abv" data-order="asc">ABV (Low to High)</option>
                            	<option value="2" data-key="abv" data-order="desc">ABV (High to Low)</option>
                            	<option value="3" data-key="name" data-order="asc">Beer Name (A to Z)</option>
                            	<option value="4" data-key="name" data-order="desc">Beer Name (Z to A)</option>
                            	<option value="5" data-key="brewery" data-order="asc">Brewery Name (A to Z)</option>
                            	<option value="6" data-key="brewery" data-order="desc">Brewery Name (Z to A)</option>
                            	<option value="7" data-key="checkins" data-order="asc">Checkins (Low to High)</option>
                            	<option value="8" data-key="checkins" data-order="desc">Checkins (High to Low)</option>
                            	<option value="9" data-key="ibu" data-order="asc">IBU (Low to High)</option>
                            	<option value="10" data-key="ibu" data-order="desc">IBU (High to Low)</option>
                            	<option value="13" data-key="score" data-order="asc">Score (Low to High)</option>
                            	<option value="14" data-key="score" data-order="desc">Score (High to Low)</option>
                            </select>
                        </div>
            			<hr class="my-1">
                        <div class="filters-title"><i class="fa fa-filter" aria-hidden="true"></i> Filters</div>
                        <div class="form-group filter-group-table bordered-group">
                            <div class="third-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" name="ticked" type="radio" value="" id="ignoreFavorites"  data-filter="favorites" checked>
                                    <label class="form-check-label" for="ignoreFavorites">All <div class="favorite active"><i class="fa fa-star" aria-hidden="true"></i></div></label>
                                </div>
                            </div>
                            <div class="third-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" name="ticked" type="radio" value="show" id="showFavorites" data-filter="favorites">
                                    <label class="form-check-label" for="showFavorites">Only <div class="favorite active"><i class="fa fa-star" aria-hidden="true"></i></div></label>
                                </div>
                            </div>
                            <div class="third-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" name="ticked" type="radio" value="hide" id="hideFavorites" data-filter="favorites">
                                    <label class="form-check-label" for="hideFavorites">Hide <div class="favorite active"><i class="fa fa-star" aria-hidden="true"></i></div></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group filter-group-table bordered-group">
                            <div class="third-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" name="favorites" type="radio" value="" id="ignoreTicked"  data-filter="ticked" checked>
                                    <label class="form-check-label" for="ignoreTicked">All <div class="tick active"><i class="fa fa-check" aria-hidden="true"></i></div></label>
                                </div>
                            </div>
                            <div class="third-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" name="favorites" type="radio" value="show" id="showTicked" data-filter="ticked">
                                    <label class="form-check-label" for="showTicked">Only <div class="tick active"><i class="fa fa-check" aria-hidden="true"></i></div></label>
                                </div>
                            </div>
                            <div class="third-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" name="favorites" type="radio" value="hide" id="hideTicked" data-filter="ticked">
                                    <label class="form-check-label" for="hideTicked">Hide <div class="tick active"><i class="fa fa-check" aria-hidden="true"></i></div></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group filter-group-table bordered-group">
                            <div class="third-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" name="checked-in" type="radio" value="" id="ignoreCheckedIn"  data-filter="checkedIn" checked>
                                    <label class="form-check-label" for="ignoreCheckedIn">All <img src="{{ asset('images/untappd_bottles.png') }}"></label>
                                </div>
                            </div>
                            <div class="third-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" name="checked-in" type="radio" value="show" id="showCheckedIn" data-filter="checkedIn">
                                    <label class="form-check-label" for="showCheckedIn">Only <img src="{{ asset('images/untappd_bottles.png') }}"></label>
                                </div>
                            </div>
                            <div class="third-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" name="checked-in" type="radio" value="hide" id="hideCheckedIn" data-filter="checkedIn">
                                    <label class="form-check-label" for="hideCheckedIn">Hide <img src="{{ asset('images/untappd_bottles.png') }}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group filter-group-table bordered-group">
                            <div class="half-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" type="checkbox" value="" id="minScore"  data-filter="minScore">
                                    <label class="form-check-label" for="minScore">Minimum Rating</label>
                                </div>
                				<div class="input-group-remote">
                    				<input class="filter-modifier" data-filter="minScore" type="range" name="minRatingRange" min="0" max="5" step="0.25" value="0" oninput=this.form.minRatingInput.value=this.value />
                    				<input class="filter-value" data-filter="minScore" type="number" name="minRatingInput" min="0" max="5" step="0.25" value="0" oninput="this.form.minRatingRange.value=this.value" />
                    			</div>
                            </div>
                            <div class="half-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" type="checkbox" value="" id="maxScore" data-filter="maxScore">
                                    <label class="form-check-label" for="maxScore">Maximum Rating</label>
                                </div>
                				<div class="input-group-remote">
                    				<input class="filter-modifier" data-filter="maxScore" type="range" name="maxRatingRange" min="0" max="5" step="0.25" value="5" oninput=this.form.maxRatingInput.value=this.value />
                    				<input class="filter-value" data-filter="maxScore" type="number" name="maxRatingInput" min="0" max="5" step="0.25" value="5" oninput="this.form.maxRatingRange.value=this.value" />
                    			</div>
                            </div>
                        </div>
                        <div class="form-group filter-group-table bordered-group">
                            <div class="half-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" type="checkbox" value="" id="minABV"  data-filter="minABV">
                                    <label class="form-check-label" for="minABV">Minimum ABV</label>
                                </div>
                				<div class="input-group-remote">
                    				<input class="filter-modifier" data-filter="minABV" type="range" name="minABVRange" min="0" max="{{ highestABV|round(0, 'ceil') }}" value="0" oninput=this.form.minABVInput.value=this.value />
                    				<input class="filter-value" data-filter="minABV" type="number" name="minABVInput" min="0" max="{{ highestABV|round(0, 'ceil') }}" value="0" oninput="this.form.minABVRange.value=this.value" />
                    			</div>
                            </div>
                            <div class="half-size">
                				<div class="input-group-chk">
                                    <input class="form-check-input filter-enabler" type="checkbox" value="" id="maxABV" data-filter="maxABV">
                                    <label class="form-check-label" for="maxABV">Maximum ABV</label>
                                </div>
                				<div class="input-group-remote">
                    				<input class="filter-modifier" data-filter="maxABV" type="range" name="maxABVRange" min="0" max="{{ highestABV|round(0, 'ceil') }}" value="{{ highestABV|round(0, 'ceil') }}" oninput=this.form.maxABVInput.value=this.value />
                    				<input class="filter-value" data-filter="maxABV" type="number" name="maxABVInput" min="0" max="{{ highestABV|round(0, 'ceil') }}" value="{{ highestABV|round(0, 'ceil') }}" oninput="this.form.maxABVRange.value=this.value" />
                    			</div>
                            </div>
                        </div>
            			<hr class="my-1">
            			<div class="pull-right">
            				<span class="mass-check" data-target=".style-filter" data-state="false"><i class="fa fa-square-o" aria-hidden="true"></i> None</span> |
            				<span class="mass-check" data-target=".style-filter" data-state="true"><i class="fa fa-check-square-o" aria-hidden="true"></i> All</span>
            			</div>
                        <div class="filters-title"><i class="fa fa-beer" aria-hidden="true"></i> Style Categories</div>
                        <div class="center-checkboxes">
                            {% for category in styleCategories %}
                                <div class="form-check form-check-inline">
                                	<input class="form-check-input style-filter" type="checkbox" id="chk-style-{{ category }}" data-style="{{ category }}" checked>
                                	<label class="form-check-label" for="chk-style-{{ category }}">{{ category }}</label>
                                </div>
                            {% endfor %}
                        </div>
            			<hr class="my-1">
                        <div class="filters-title"><img src="{{ asset('images/untappd_bottles.png') }}"> Untappd Button Action</div>
                        <div class="form-group filter-group-table">
                        	<select id="taplist-buttonAction-select" class="form-control form-control-sm">
                            	<option value="quick-checkin">Quick Check-in (Logged-in Only)</option>
                            	<option value="open-app">Open App (Mobile Only)</option>
                            	<option value="open-web">Open Website</option>
                            </select>
                        </div>
            			<hr class="my-1">
                        <div class="filters-title"><i class="fa fa-check" aria-hidden="true"></i> Tick all checked-in beers</div>
        				<div class="input-group-chk">
                            <input class="form-check-input" type="checkbox" value="" id="tickCheckedIn" data-filter="tickCheckedIn">
                            <label class="form-check-label" for="tickCheckedIn">Enable</label>
                        </div>
                    </form>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="modal fade" id="quick-checkin-modal" tabindex="-1" role="dialog" aria-labelledby="quick-checkin-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                	<h5 class="modal-title" id="quick-checkin-modal-title">Quick Check-in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                	<div class="quick-checkin-loading"><i class="fa fa-spinner fa-pulse"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="data-conflict-modal" tabindex="-1" role="dialog" aria-labelledby="data-conflict-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                	<h5 class="modal-title" id="data-conflict-modal">Data conflict</h5>
                </div>
                <div class="modal-body">
                	The locally saved data for your ticked and favorites beers is different from the data that is remotely saved for your Untappd account.<br>
                	Which data source do you want to use?<br/>
                	<strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> The dismissed data source will be erased.</strong>
                </div>
                <div class="modal-footer">
                	<button type="button" class="btn btn-secondary" data-dismiss="modal">Keep local data</button>
                	<button id="data-keep-remote" type="button" class="btn btn-secondary" data-dismiss="modal">Keep remote data</button>
                </div>
            </div>
        </div>
    </div>
    
    {% if is_granted('ROLE_ADMIN') %}
            <div class="modal fade" id="admin-modal" tabindex="-1" role="dialog" aria-labelledby="admin-modal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                	<div class="modal-content">
            			<div class="modal-header">
            				<h5 class="modal-title" id="">Administration</h5>
            				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            					<span aria-hidden="true">&times;</span>
            				</button>
            			</div>
            			<div class="modal-body">
            				<form id="add-beer-form">
                                <div class="form-group filter-group">
                                    <label class="filters-title" for="searchString">Add a beer to the taplist</label>
                                	<div id="add-beer-success" class="alert alert-success" role="alert"></div>
                                	<div id="add-beer-error" class="alert alert-danger" role="alert"></div>
                                    <input type="text" class="form-control form-control-sm" id="searchString" name="searchString" placeholder="Enter keywords" required>
                                </div>
                                <div class="form-group filter-group-table">
                                	<select id="add-beer-session" name="add-beer-session" class="form-control form-control-sm filters-sort-select" required>
                                    	<option value="">Select session</option>
                                        {% for session in event.sessions %}
                                            <option value="{{ session.id }}">{{ session.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
        						<button id="add-beer-submit" type="submit" class="btn btn-secondary pull-right">Add</button>
        					</form>
            				<form id="select-beer-form">
                                <div class="form-group filter-group">
                                    <label class="filters-title" for="select-beer-field">Add a beer to the taplist</label>
                                	<div id="select-beer-warning" class="alert alert-warning" role="alert">The search returned <span id="select-beer-count">0</span> results.<br />Please select the beer to add.</div>
                                </div>
                                <div class="form-group filter-group-table">
                                	<select id="select-beer-field" name="select-beer-field" class="form-control form-control-sm filters-sort-select" required>
                                    	<option value="">Select a beer</option>
                                    </select>
                                </div>
        						<button id="select-beer-submit" type="submit" class="btn btn-success pull-right">Submit</button>
        						<button id="select-beer-cancel" type="button" class="btn btn-warning pull-right" style="margin-right:4px;">Cancel</button>
        					</form>
                        </div>
            		</div>
                </div>
            </div>
    {% else %}
        <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
            	<div class="modal-content">
        			<div class="modal-header">
        				<h5 class="modal-title" id="">Taplist Information</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        					<span aria-hidden="true">&times;</span>
        				</button>
        			</div>
        			<div class="modal-body small-text">
        				<p><strong>Welcome to the {{ event.name }} taplist!</strong></p>
        				<p>This list allows you to see every beer that should be available during the event.<br />You can filter and sort the list as you like by clicking the <strong>"Filter/Sort"</strong> button at the bottom left of the page.</p>
        				You can login to Untappd to enhance your experience:
        				<ul>
        					<li>Make quick check-ins directly from the taplist</li>
        					<li>Get the list of beers you already have checked-in</li>
        					<li>Get your saved data (favorites, ticks, ...) anywhere</li>
        				</ul>
        				<p>LBF also offers a <a href="{{ path('event', {'eventID': event.id}) }}">live stats</a> page for the event.</p>
        				<p>This taplist is powered by <a href="https://www.livebeerfeed.com">Live Beer Feed</a>.</p> 
        				<p>Any issues, questions, remarks?<br>Feel free to contact me at <a href="mailto:robin@livebeerfeed.com">robin@livebeerfeed.com</a>.</p>
        			</div>
        			<div class="modal-footer">
        				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        			</div>
        		</div>
            </div>
        </div>
    {% endif %}

    <div id="filters-open" class="fixed-button">
    	<i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
    	<div class="desc">Filter/Sort</div>
    </div>
    

    {% if user is null %}
    	<a id="taplist-untappd-login" class="fixed-button" href="https://untappd.com/oauth/authenticate/?client_id={{ untappd_api_client_id }}&response_type=code&redirect_url={{ untappd_api_oauth_redirect_url }}">
        	<img src="{{ asset('images/untappd_bottles.png') }}">
        	<div class="desc">Login with Untappd</div>
    	</a>
    {% else %}
    	<a id="taplist-untappd-login" class="fixed-button" href="{{ path('oauth_logout') }}">
        	<img id="logged-in" data-uid="{{ user.id }}" src="{{ user.useravatar }}">
        	<div class="desc">Logout</div>
    	</a>
    {% endif %}
            
    <div id="taplist-info" class="small-bubble">
    	<div><span id="taplist-info-count">0</span> beers</div>
    	<div>(<span id="taplist-info-filtered">0</span> filtered)</div>
    	<div class="taplist-info-icons">
    		<span id="taplist-info-favorites">0</span> <div class="favorite active"><i class="fa fa-star" aria-hidden="true"></i></div>
    		<span id="taplist-info-ticks">0</span> <div class="tick active"><i class="fa fa-check" aria-hidden="true"></i></div>
    		<span id="taplist-info-checkins">0</span> <div class="taplist-info-untappd-icon"><img src="{{ asset('images/untappd_bottles.png') }}"></div>
    	</div>
    </div>
    
    {% if is_granted('ROLE_ADMIN') %}
        <div id="taplist-admin" class="fixed-button" data-toggle="modal" data-target="#admin-modal">
        	<i class="fa fa-cogs" aria-hidden="true"></i>
            <div class="desc">Admin</div>
        </div>
    {% else %}
        <div id="taplist-help" class="fixed-button" data-toggle="modal" data-target="#info-modal">
        	<i class="fa fa-info-circle" aria-hidden="true"></i>
            <div class="desc">Info</div>
        </div>
    {% endif %}
</div>
<script>
{% if userData is not null %}
	var savedTicks = "{{ userData.ticks }}";
	var savedFavorites = "{{ userData.favorites }}";
	var savedUntappdButtonAction = "{{ userData.buttonAction }}";
	var savedTickCheckIn = "{{ userData.tickedCheckedIn }}";
{% endif %}
var outOfStock = JSON.parse('{{ outOfStock|raw }}');
var checkedInBeers = JSON.parse("{{ checkedInBeers|raw }}");
var locale = "{{ app.request.locale }}";
var websocket = "{{ websocket }}";
</script>
{% endblock %}