<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117749055-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-117749055-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Live Beer Feed :: {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/favicon.png" />
        {% block stylesheets %}
        	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        	<link href="https://fonts.googleapis.com/css?family=Oswald|PT+Sans" rel="stylesheet">
        	<link href="{{ asset('css/font-awesome-animation.min.css') }}" rel="stylesheet">
        	<link href="{{ asset('css/utstats.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
       {% block navbar %}
       <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ccc;">
          <a class="navbar-brand" href="#">Live Beer Feed</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="navbar-push"></div>
        {% endblock %}
        
        {% block body %}
        {% endblock %}
        
        {% block javascripts %}
        	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
       		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
       		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment-with-locales.min.js"></script>
        	<script src="{{ asset('js/autobahn.js') }}"></script>
        	<script src="{{ asset('js/jquery.animateNumber.js') }}"></script>
        	<script src="{{ asset('js/platform.js') }}"></script>
        	<script src="{{ asset('js/utstats.js') }}"></script>
        {% endblock %}
    </body>
</html>
