{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} Live Feed{% endblock %}

{% block navbar %}
{% endblock %}
       
{% block body %}
{% if event.style %}
    <style>
    	#live-venue-title {
            {% if event.style.headerBackgroundColor %}background-color: {{ event.style.headerBackgroundColor }};{% endif %}
            {% if event.style.headerTextColor %}color: {{ event.style.headerTextColor }};{% endif %}
        }
        {% if event.style.linkColor %}a { color: {{ event.style.linkColor }};}{% endif %}
        {% if event.style.majorInfoColor %}.info-major { color: {{ event.style.majorInfoColor }};}{% endif %}	
    </style>
{% endif %}

<div class="main-wrapper">
    <div id="live-venue-title">
    	<span id="close-live"><a href="/event/{{ event.id }}" title="Close live" id=""><i class="fa fa-window-close"></i></a></span>
    	{% if event.style and event.style.untappdLogoStyle %}
    		{% set untappdLogo = 'untappd_' ~ event.style.untappdLogoStyle %}
    	{% else %}
    		{% set untappdLogo = 'untappd_black' %}
    	{% endif %}
    	<div class="pull-right powered-by-untappd">Powered by <img class="" src="{{ asset("images/utlogo/") ~ untappdLogo ~ '.png' }}" /></div>
        <div class="description">
        	<i class="fa fa-refresh fa-spin"></i> 
        	{% if event.eventLogo %}
        		<img src="{{ asset("images/events/") ~ event.eventLogo }}" />
        	{% else %}
				{{ event.name }}
        	{% endif %}
        </div>
    </div>

	<div id="live-content" data-live-id="{{ event.id }}" data-live-type="event">
		<div id="right-panel">
    	    <div id="info-content">
    	    	<div class="line"><span id="info-line-1" class="info-line-text"><span class="info-major">{% trans %}live.welcome{% endtrans %}</span></span></div>
    	    	<div class="line"><span id="info-line-2" class="info-line-text"><span class="info-major">{{ event.name }}</span></span></div>
    	    	<div class="line"><span id="info-line-3" class="info-line-text">{{ event.startDate|date("d/m/Y") }} - {{ event.endDate|date("d/m/Y") }}</span></div>
    	    </div>
            <div id="live-media" class="">
        		{% set i = 0 %}
        	    {% for checkin in checkins %}
               		{% if checkin.medias[0] is defined %}
               			{% set i = i + 1 %}
                        {% include 'live/content/media.template.html.twig' with { 'checkin': checkin, 'i': i  } %}
               		{% endif %}
        	    {% endfor %}
            </div>
        </div>
        <ul id="live-feed">
        	{% if event.venues|length == 0 %}
                <div class="alert alert-danger" role="alert">
              		<b>There a no venues related to this event.</b> Please add some venues and reload the page.
                </div>
        	{% else %}
        		{% if checkins|length == 0 %}
        			{% set venueNames = [] %}
                  	{% for venue in event.venues %}
        		        {% set venueNames = venueNames|merge([venue.name]) %}
        		    {% endfor %}
            		<div id="no-checkins" class="alert alert-warning" role="alert">
                      	There a no check-ins for this event yet.
                      	<br />Here's the list of the related venues : {{ venueNames|join(',') }}
                    </div>
        		{% endif %}
        	{% endif %}
        	{% set i = 0 %}
        	{% set j = 0 %}
        	{% for checkin in checkins if j < 30 %}
	            {% if checkin.medias[0] is defined %}
		            {% set i = i + 1 %}
		        {% endif %}
                {% include 'live/content/checkin.template.html.twig' with { 'checkin': checkin, 'i': i } %}
            	{% set j = j + 1 %}
        	{% endfor %}
        </ul>
        <div class="gradient-bottom"></div>
    </div>
</div>

<script>
setInterval(function(){
	updateLivePage()
}, 15000)
var infoLoadDelay = 5000;
setInterval(function(){
	refreshTimes()
}, 5000)
var locale = "{{ event.locale }}";
</script>
{% endblock %}
