{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} Live Feed{% endblock %}

{% block navbar %}
{% endblock %}
       
{% block stylesheets %}
	{{ parent() }}
	{% if event.screenSize == "small" %}
		<link href="{{ asset('css/live_small.css') }}" rel="stylesheet">
	{% endif %}
{% endblock %}
        
{% block body %}
{% if event.style %}
    <style>
    	#live-venue-title {
            {% if event.style.headerBackgroundColor %}background-color: {{ event.style.headerBackgroundColor }};{% endif %}
            {% if event.style.headerTextColor %}color: {{ event.style.headerTextColor }};{% endif %}
        }
        {% if event.style.linkColor %}a { color: {{ event.style.linkColor }};}{% endif %}
        {% if event.style.majorInfoColor %}.info-major { color: {{ event.style.majorInfoColor }}; border-color: {{ event.style.majorInfoColor }};}{% endif %}	
    </style>
{% endif %}

<div class="main-wrapper">
    <div id="live-venue-title">
    	<span id="close-live"><a href="/event/{{ event.id }}" title="Close live" id=""><i class="fa fa-window-close"></i></a></span>
    	{% if event.style and event.style.untappdLogoStyle %}
    		{% set untappdLogo = 'untappd_' ~ event.style.untappdLogoStyle %}
    	{% else %}
    		{% set untappdLogo = 'untappd_black' %}
    	{% endif %}
    	<div class="pull-right powered-by-untappd"><i class="fa fa-refresh fa-spin"></i> Powered by <img class="" src="{{ asset("images/utlogo/") ~ untappdLogo ~ '.png' }}" /></div>
        <div class="description">
        	{% if event.eventLogo %}
        		<img src="{{ asset("images/events/") ~ event.eventLogo }}" />
        	{% else %}
				{{ event.name }}
        	{% endif %}
        </div>
    </div>

	<div id="live-content" data-live-id="{{ event.id }}" data-live-type="event">
		<div id="right-panel">
			{% if event.screenSize == "normal" %}
    	    <div id="info-content">
    	    	<div class="line"><span id="info-line-1" class="info-line-text"><span class="info-major">{% trans %}live.welcome{% endtrans %}</span></span></div>
    	    	<div class="line"><span id="info-line-2" class="info-line-text"><span class="info-major">{{ event.name }}</span></span></div>
    	    	<div class="line"><span id="info-line-3" class="info-line-text">{{ event.startDate|date("d/m/Y") }} - {{ event.endDate|date("d/m/Y") }}</span></div>
    	    </div>
    	    {% endif %}
            <div id="live-media" class="">
        		{% set i = 0 %}
        	    {% for checkin in checkins %}
               		{% if checkin.medias[0] is defined %}
               			{% set i = i + 1 %}
                        {% include 'live/content/media.template.html.twig' with { 'checkin': checkin, 'i': i  } %}
               		{% endif %}
        	    {% endfor %}
            </div>
        </div>
        <div id="left-panel">
			{% if event.screenSize == "small" %}
    	    <div id="info-content">
    	    	<div class="line"><span id="info-line-1" class="info-line-text"><span class="info-major">{% trans %}live.welcome{% endtrans %}</span></span></div>
    	    	<div class="line"><span id="info-line-2" class="info-line-text"><span class="info-major">{{ event.name }}</span></span></div>
    	    	<div class="line"><span id="info-line-3" class="info-line-text">{{ event.startDate|date("d/m/Y") }} - {{ event.endDate|date("d/m/Y") }}</span></div>
    	    </div>
    	    {% endif %}
        	{% if event.venues|length == 0 %}
                <div class="alert alert-danger" role="alert">
              		<b>{{ "live.no_venues_bold"|trans }}</b> {{ "live.no_venues"|trans }}
                </div>
        	{% else %}
        		{% if checkins|length == 0 %}
        			{% set venueNames = [] %}
                  	{% for venue in event.venues %}
        		        {% set venueNames = venueNames|merge([venue.name]) %}
        		    {% endfor %}
            		<div id="no-checkins" class="alert alert-warning" role="alert">
                      	{{ "live.no_checkins"|trans }} <br />
                      	{% trans with {'%venues%': venueNames|join(',')} %}live.venues_list{% endtrans %} <br />
                      	{{ "live.no_checkins_info"|trans }}
                    </div>
        		{% endif %}
        	{% endif %}
            <ul id="live-feed">
            	{% set i = 0 %}
            	{% set j = 0 %}
            	{% for checkin in checkins if j < 30 %}
    	            {% if checkin.medias[0] is defined %}
    		            {% set i = i + 1 %}
    		        {% endif %}
                    {% include 'live/content/checkin.template.html.twig' with { 'checkin': checkin, 'i': i } %}
                	{% set j = j + 1 %}
            	{% endfor %}
            </ul>
        </div>
        <div class="gradient-bottom"></div>
    </div>
</div>

<script>
var timerInterval = setInterval(function(){
	refreshTimes()
}, 5000)
var locale = "{{ event.locale }}";
var websocket = "{{ websocket }}";
</script>
{% endblock %}
