{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} Live Info Notification{% endblock %}

{% block navbar %}
{% endblock %}
        
{% block body %}
{% if event.style %}
    <style>
    	#live-venue-title {
            {% if event.style.headerBackgroundColor %}background-color: {{ event.style.headerBackgroundColor }};{% endif %}
            {% if event.style.headerTextColor %}color: {{ event.style.headerTextColor }};{% endif %}
        }
        {% if event.style.linkColor %}a { color: {{ event.style.linkColor }};}{% endif %}
        {% if event.style.majorInfoColor %}.info-major { color: {{ event.style.majorInfoColor }};}{% endif %}	
    </style>
{% endif %}

<div class="main-wrapper">
    <div id="live-venue-title">
    	{% if event.style and event.style.untappdLogoStyle %}
    		{% set untappdLogo = 'untappd_' ~ event.style.untappdLogoStyle %}
    	{% else %}
    		{% set untappdLogo = 'untappd_black' %}
    	{% endif %}
        <div class="description">
        	{% if event.eventLogo %}
        		<img src="{{ asset("images/events/") ~ event.eventLogo }}" />
        	{% else %}
				{{ event.name }}
        	{% endif %}
        </div>
    </div>
    
    <button onclick="startNotifications()">I want to be notified</button>
</div>

<script>
function startNotifications() {
	if (!("Notification" in window)) {
	    alert("Your browser doesn't support notifications");
	} else if (Notification.permission === "granted") {
	    var notification = new Notification("Hello");
	} else if (Notification.permission !== 'denied') {
	    Notification.requestPermission(function (permission) {
			if(!('permission' in Notification)) {
	        	Notification.permission = permission;
	      	}
			if (permission === "granted") {
	        	var notification = new Notification("Welcome !");
	      	}
	    });
	}
}
</script>
{% endblock %}
