{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} Live Info Notification{% endblock %}

{% block navbar %}
{% endblock %}
        
{% block body %}
{% if event.style %}
    <style>
    	#live-venue-title {
            {% if event.style.headerBackgroundColor %}background-color: {{ event.style.headerBackgroundColor }};{% endif %}
            {% if event.style.headerTextColor %}color: {{ event.style.headerTextColor }};{% endif %}
        }
        {% if event.style.linkColor %}a { color: {{ event.style.linkColor }};}{% endif %}
        {% if event.style.majorInfoColor %}.info-major { color: {{ event.style.majorInfoColor }};}{% endif %}	
    </style>
{% endif %}

<div class="main-wrapper">
    <div id="live-venue-title">
    	{% if event.style and event.style.untappdLogoStyle %}
    		{% set untappdLogo = 'untappd_' ~ event.style.untappdLogoStyle %}
    	{% else %}
    		{% set untappdLogo = 'untappd_black' %}
    	{% endif %}
        <div class="description">
        	{% if event.eventLogo %}
        		<img src="{{ asset("images/events/") ~ event.eventLogo }}" />
        	{% else %}
				{{ event.name }}
        	{% endif %}
        </div>
    </div>
    
    <div id="post-message" class="container">
    	<h1 class="info-major">Submit a new message</h1>
    	<p>This form will allow you to add a message to the "{{ event.name }}" live beer feed.<br />
    	You can use it to make important announcements (plugging a new keg, ...)<br />
    	Please fill the 3 message lines and select the time when it should begin to display.<br />
    	Your message will last for 10 minutes.<br />
    	<b class="info-major">THIS FORM IS PRIVATE. PLEASE DO NOT SHARE IT WITH VISITORS. DO NOT ABUSE.</b> 
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    
</div>

<script>
	var minTime = "{{ "now"|date('H:i') }}"
</script>

{% endblock %}
