{% extends 'base.html.twig' %}

{% block title %}{{ venue.getName }} Live Feed{% endblock %}

{% block navbar %}
{% endblock %}
       
{% block body %}
<div class="main-wrapper">
    <div id="live-venue-title">
    	<span id="close-live"><a href="/venue/{{ venue.getId }}" title="Close live" id=""><i class="fa fa-window-close"></i></a></span>
        <span class="description"><i class="fa fa-refresh fa-spin"></i> Live feed for {{ venue.getUntappdLink|raw }}</span>
    </div>

	<div id="live-content" data-live-id="{{ venue.getId }}" data-live-type="venue">
        <div id="live-media" class="">
        	    {% for checkin in checkins %}
               		{% if checkin.getMedias[0] is defined %}
                   		<div class="checkin-photo" data-checkin="{{ checkin.getId }}">
                   			<a href="{{ checkin.getMedias[0].getPhotoImgOg }}" target="_blank"><img src="{{ checkin.getMedias[0].getPhotoImgLg }}"></img></a>
                   		</div>
               		{% endif %}
        	    {% endfor %}
        </div>
        <ul id="live-feed">
        	{% for checkin in checkins %}
        		<li data-checkin="{{ checkin.getId }}">
        			<div class="avatar-wrapper">
        				{% if checkin.getUser.getIsSupporter %}
        					<span class="supporter"></span>
        				{% endif %}
        				<a href="https://www.untappd.com/user/{{ checkin.getUser.getUserName }}" target="_blank">
        					<img src="{{ checkin.getUser.getUserAvatar }}" />
        				</a>
        			</div>
        			<div class="checkin-info">
        				<div class="line">
                	    	<span class="checkin-item">{{ checkin.getUser.getUntappdLink|raw }} is drinking a {{ checkin.getBeer.getUntappdLink|raw }} by {{ checkin.getBeer.getBrewery.getUntappdLink|raw }} <span class="checkin-date">({{ checkin.getCreatedAt|ago }})</span></span>
                	    </div>
                	    <div class="line">
                	    	<span class="rating small r{{ checkin.getIntegerRatingScore }}"></span> 
                	    	{% if checkin.getComment != "" and checkin.getComment is not null %}
                	    		<span class="comment">"{{ checkin.getComment }}"</span>
                	    	{% endif %}
                	    </div>
               		</div>
            	</li>
        	{% endfor %}
        </ul>
        <div class="gradient-bottom"></div>
    </div>
</div>

<script>
setInterval(function(){
	updateLivePage()
}, 30000)
</script>
{% endblock %}
